# All HypothesisLoop dependencies live in pyproject.toml under [project.dependencies].
# This file just redirects so habitual `pip install -r requirements.txt` users
# get the right deps. The single-command setup is:
#
#     pip install -e .
#
# (Or, if you want test deps too:  pip install -e ".[dev]")

-e .
